<section
  class="container"
  [ngClass]="{ 'form-shadow': registrationForm.touched }"
>
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="OnFormSubmit()" #registrationForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input
          type="text"
          placeholder="First Name"
          name="firstname"
          [(ngModel)]="firstName"
          required
          #fname="ngModel"
        />
        <div>
          <small *ngIf="fname.touched && fname.invalid"
            >*First name is required</small
          >
          <span *ngIf="firstName"> Firstname: {{ firstName }}</span>
        </div>
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Last Name"
          name="lastname"
          [(ngModel)]="lastname"
          required
          #lname="ngModel"
        />
        <div>
          <small *ngIf="lname.touched && lname.invalid"
            >*Last name is required</small
          >
          <span *ngIf="lastname"> Lastname: {{ lastname }}</span>
        </div>
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="mail"
        required
        email
        #email="ngModel"
      />
      <div>
        <small *ngIf="email.touched && email.invalid"
          >*e-mail is required</small
        >
        <span *ngIf="mail"> Email: {{ mail }}</span>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phone" ngModel />
      </div>
      <div class="input-box">
        <input
          type="date"
          placeholder="Date of Birth"
          name="dob"
          [(ngModel)]="dob"
          required
          #dobTRV="ngModel"
        />
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Username"
        name="username"
        ngModel
        required
        #uname="ngModel"
      />
      <button
        class="btn-gen-username"
        [disabled]="fname.invalid || lname.invalid || dobTRV.invalid"
        (click)="generateUserName()"
      >
        Create a Username
      </button>
      <div>
        <small *ngIf="uname.touched && uname.invalid"
          >*Username is required</small
        >
      </div>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gender of genders">
          <input
            type="radio"
            [id]="gender.id"
            [value]="gender.value"
            name="gender"
            ngModel
          />
          <label [for]="gender.id">{{ gender.display }}</label>
        </div>
      </div>
    </div>

    <div
      class="input-box address"
      ngModelGroup="address"
      #adressTRV="ngModelGroup"
    >
      <label>Address</label>
      <input
        type="text"
        placeholder="Street address"
        name="street1"
        ngModel
        required
      />
      <input
        type="text"
        placeholder="Street address line 2"
        name="street2"
        ngModel
      />
      <div class="column">
        <div class="select-box">
          <select name="country" ngModel required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel />
        <input
          type="number"
          placeholder="Postal code"
          name="postal"
          min="100000"
          max="999999"
          ngModel
          required
        />
      </div>
      <small *ngIf="adressTRV.touched && adressTRV.invalid"
        >*Some of the required field of address is not filled</small
      >
    </div>

    <input
      type="submit"
      value="Submit"
      class="submit-btn"
      [disabled]="!registrationForm.valid"
      [ngClass]="{
        'disabled-btn': registrationForm.invalid,
        'enabled-btn': registrationForm.valid
      }"
    />
  </form>
</section>
